*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    background-color: #1e1e1e;
}

/* NAVIGATION BAR */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width:100%;
    border-bottom: 1px solid #37373d;
    position:fixed;
    top:0;
    z-index: 1;
}

.nav-hidden{
    transform: translateY(-50px);
    transition: transform 0.5s;
}

.bar{
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    font-size: 40px;
    color: #44749c;
    visibility: hidden;
}

 #section1::before, #section2::before, #section3::before, #section4::before, #section5::before{
    content: '';
    display: block;
    height:  75px;
    margin-top: -70px;
} 

h1{
    color:#f7f8f9;
    margin-left: 10px;
}

h1 span{
    color:  #cb6028
}

ul{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

ul li{
    list-style: none;
    font-size: 20px;
}

ul li a{
    color:#4072a4;
}

ul li a:hover{
    color:#408bc1;

}
ul li a span{
    color: #7e827b;
}


/* INTRODUCTION */
.home{
    height: 500px;
    width: 800px;
    margin-top: 100px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introduction{
    color: #bab79c;
    font-size: 35px;
}

.name{
    color: #bab79c;
    font-size: 60px;
}

.tags span{
    color: #7e827b;
}

.tags{
    color:#44749c;
    font-size: 30px;
}

/* ABOUT*/

.about{
    margin-top: 80px;
    margin-left: 500px;
    padding-left: 20px;
    width:800px;
    height: 400px;
    border: 1px solid white;
}

.intro {
    color: #bab79c;
    font-size: 25px;
    line-height: 40px;
}

.about .tags{
    margin: 10px 0;
}

/* SKILLS */

.skills{
margin-top: 130px;
margin-left: 20px;
padding: 20px;
width:600px;
height: 300px;
border: 1px solid white;
}


.skills p{
    font-size: 30px;
}

.icons{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.icon{
    font-size: 90px;
}

.html{
    color:#ff5722;
}

.css{
    color:#2196f3;
}

.js{
    color:#ffd600;
}

.bootstrap{
    color:#5e3b7f;
}

/* PROJECTS */

.projects{
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid white;
}

.projectContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

.project{
    display: flex;
    flex-direction: row;
    margin-bottom: 130px;
}

.projectImg{
width:750px;
height:400px;
border: 2px solid rgb(182, 177, 177);
}

.description{
    width:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.description p{
    color:#bab79c;
    font-size: 20px;
    margin-left:10px;
}

.buttonContainer{
    display: flex;
}

button{
    border: 1px solid #cb6028;
    width: 220px;
    border-radius: 4px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

button:hover{
    background-color:#252526;
    cursor: pointer;
    color: #bab79c;
}



/* CONTACT */

.contact{
    margin-top: 30px;
    margin-left: 450px;
    margin-bottom: 20px;
    border: 1px solid white;
    width: 400px;
}

.contact p{
    font-size: 30px;
}

.contact .tags{
    margin: 10px; 
}

.desktopIcon{
margin: 10px;
display: block;
}

.mobileIcon{
    display: none;
}

.contact a{
  color: #44749c;
  font-size: 20px;
}

.iconContainer{
    margin-left: 30px;
    display: flex;
}

.iconContainer a{
    margin-top: 30px;
}

/* FOOTER */
footer{
    text-align: center;
    color:#44749c;
    border-top: 1px solid white;
}


@media screen and (max-width: 768px){
/* NAVBAR */
nav{
    position: fixed;
}

.bar{
    visibility:visible;
}

.nav-content{
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50px;
    width: 100%;
    border-bottom: 1px solid #37373d;
    transition: all 0.5s ease;
    display: flex;
}

ul{
    display: none;
}

li{
    margin: 10px 0;
}

/* INTRODUCTION */

.home{
    margin-top: 0px;
    height: 400px;
    width:550px;
}

.tags{
    font-size: 20px;
}

.introduction{
    font-size: 30px;
}

.name{
    font-size: 40px;
}

.about{
    margin-top: 80px;
    margin-left: 30px;
    padding: 10px;
    width:550px;
    height: 350px;
    border: 1px solid white;
}

.intro {
    font-size: 20px;
    line-height: 35px;
}

/* SKILLS */

.skills{
    width:560px;
    height: 220px;
    border: 1px solid white;
    }


    .skills p{
        font-size: 20px;
    }
    
    .icons{
        margin: 10px;
    }
    
    .icon{
        font-size: 70px;
    }

/* PROJECTS */
 .project{
     flex-direction: column;
     border: 1px solid #7e827b;
     margin-bottom: 70px;
     margin-right:0px;
 }


 .projectImg{
    width:520px;
    height:300px;
    border-bottom: 1px solid #7e827b;
    border-top: none;
    border-left: none;
    border-right: none;
    }


/* CONTACT */

.contact{
    margin-left: 20px;
    margin-top: 30px;
    border: 1px solid white;
    width: 560px;
}

.contact p{
    font-size: 20px;
}

.desktopIcon{
    display: none;
}

.mobileIcon{
    display: block;
    margin:20px;
}

.contact .tags{
    margin: 0px; 
}

/* FOOTER */
footer{
    text-align: center;
    color:#44749c;
    width: 550px;
    border-top: none;
}
}